#container{
    margin: 10px auto;
    border: 3px solid aqua;
    background-color: black;
    color: white;
    
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
}

h1{
    text-align: center;
}
#container div{
    text-align: center;
    width: 420px;
    height: 150px;
}



div:nth-child(1){
    background-color: blueviolet;
}

div:nth-child(2){
    background-color: indigo;
}

div:nth-child(3){
    background-color: blue;
}

div:nth-child(4){
    background-color: green;
}

div:nth-child(5){
    background-color: yellow;
}

div:nth-child(6){
    background-color: orange;
}

div:nth-child(7){
    background-color: red;
}




