
h1{
    font-weight: normal;
    text-decoration: dotted overline;
    text-decoration-color: red;
    letter-spacing: 10px;
}
h3{
    color:black;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;       
}

div{
    
    color:blueviolet;
    
}

button{
    background-color: blue;
    color: white;
    
}

h2{
    color: orange;
    text-align: end;
    text-decoration: underline;
}

/* p{
    
    color : red;
    font-weight: bolder;
    text-decoration: double line-through;
    text-decoration-color: green;
} */

p{
    line-height: 2.5;
    
}

h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900px;
    letter-spacing: 2px;
    line-height: 1.5    ;
    text-decoration: double aqua underline;
    text-transform: capitalize;

}

