
h1{
    font-weight: normal;
    text-decoration: dotted overline;
    text-decoration-color: red;
}
h3{
    color:orange;
    background-color: yellow;
}

div{
    color:blueviolet;
    
}

button{
    background-color: blue;
    color: white;
    
}

h2{
    color: orange;
    text-align: end;
    text-decoration: underline;
}

p{
    
    color : red;
    font-weight: bolder;
    text-decoration: double line-through;
    text-decoration-color: green;
}


